/* ============================= */
/* Tailwind Base */
/* ============================= */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* ============================= */
/* Global Reset */
/* ============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* light gray */
  color: #111827; /* gray-900 */
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}


/* ============================= */
/* Reusable Utility Classes */
/* ============================= */

/* Container */
body {
  @apply bg-white dark:bg-gray-950 transition-colors duration-300;
}

.container-custom {
  @apply max-w-7xl mx-auto px-6;
}

/* Primary Button */
.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-lg font-medium shadow-md transition;
}

/* Secondary Button */
.btn-secondary {
  @apply border border-gray-300 px-6 py-3 rounded-lg font-medium hover:bg-gray-100 transition;
}

/* Section Spacing */
.section-padding {
  @apply py-20;
}

/* Tag Badge */
.tag-badge {
  @apply px-4 py-1 rounded-full text-sm font-medium;
}


/* ============================= */
/* Scrollbar Styling */
/* ============================= */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
html {
  scroll-behavior: smooth;
}
